:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  background-color: #242424;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #646cff;
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: #a4a4a5;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 1.5em;
}

p {
  line-height: 1.5;
  margin: 24px 0 12px 0;
}

code {
  color: orange;
}

.answer {
  color: #747bff;
  margin-top: 12px;
}

.answer-img {
  border-radius: 8px;
  display: flex;
  margin: auto;
  max-width: 728px;
}

#second-question-text-bg {
  border-radius: 4px;
  font-weight: 600;
  padding: 24px 12px;
}

.code-block {
  background-color: #f9f9f9;
  border-radius: 8px;
  margin: 24px 0;
  padding: 20px;
}

button {
  background-color: #646cff;
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  padding: 0.6em 1.2em;
  transition: border-color, box-shadow 0.3s;
}

button:hover {
  border-color: #e2d7f4;
  box-shadow: 0 0 20px #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
    color: #213547;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}